<ion-header>
    <ion-navbar>
        <ion-title>
            Country App
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <countrylist *ngIf="countryLst.length>0" [list]="countryLst"></countrylist>
</ion-content>