<!-- Generated template for the CountrylistComponent component -->

<ion-toolbar>
    <ion-title>Country List({{list.length}})</ion-title>
</ion-toolbar>

<ion-grid>
    <ion-row align-items-center class="ion-row-header">
        <ion-col col-6 class="ion-col-txt">
            <ion-label no-margin>Name</ion-label>
        </ion-col>
        <ion-col col-3 class="ion-col-txt">
            <ion-label no-margin>Capital</ion-label>
        </ion-col>
        <ion-col col-3 class="ion-col-txt">
            <ion-label no-margin>Region</ion-label>
        </ion-col>

    </ion-row>
    <ion-row align-items-center *ngFor="let post of list; let i = index" [attr.data-index]="i" [ngClass]="{'white-bg': i%2==0, 'blue-bg': i%2!=0}">
        <ion-col col-6>
            <ion-label text-wrap no-margin>{{i+1}}.&nbsp;{{post.name}}</ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-label text-wrap no-margin>{{post.capital}}</ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-label text-wrap no-margin>{{post.region}}</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>