countrylist {
    .ion-col-txt {
        background: #488aff;
        color: #fff;
        font-weight: 500;
    }
    .ion-row-header {
        background: #e0e0e0;
    }
    .white-bg {
        background: #fff;
    }
    .blue-bg {
        background: #488aff;
    }
}